.venv/
**/__pycache__/
vis.ipynb

logs/
runs/
figures/
datasets/
datasets/sdd/
datasets/*/preprocessed/
checkpoints/
mlruns/
models/TrajNetPlusPlus.py
models/PedsTrajNet.py
pretrained/
simulation/

*.lock